<form action="/" method="post">
  <label for="email">Email</label>
  {{view Ember.TextField valueBinding=view.email}}
  <label for="password">Password</label>
  {{view Ember.TextField type='password' valueBinding=view.password}}
  <button>Sign In</button>
</form>
